.navbar-brand {
  background: rgb(64, 64, 174);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand a {
  text-decoration: none;
  color: white !important;
  font-weight: bolder;
}

.main {
  min-height: 80vh;
}
